// FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Unbounded:wght@400;500;600;700;800;900&display=swap");

// MIXINS
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// VARIABLES
$font-primary: "Unbounded", cursive;
$font-secondary: "Poppins", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

// TYPOGRAPHY
.a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
.h1 {
    font-family: $font-primary;
    font-size: 65px !important;
}
.p {
    font-family: $font-secondary;
    font-size: 16px;
}
.h3 {
    font-family: $font-secondary;
    font-size: 25px !important;
}
.h2 {
}

@media only screen and (max-width: 600px) {
    .h1 {
        font-size: 2em !important;
    }
    .p {
        font-size: 12px;
    }
}

// BASE STYLE
.cont {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.icon {
    font-size: 25px;
    margin: 0 10px;
}
.btns {
    width: auto;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    font-size: 15px;
    color: white;
    font-family: $font-primary;

    background-color: #000;
    transition: all 0.5s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }

    &--connected {
        max-width: 200px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.inp {
    outline: none;
    border: none;
    font-size: 20px;
    font-family: $font-secondary;
    padding: 5px 10px;
}

.sm-border {
    // border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .hide-on-phone {
        display: none !important;
    }
    .sm-mb-5 {
        margin-bottom: 30px;
    }
}

.hide-on-pc {
    @media only screen and (min-width: 601px) {
        display: none;
    }
}

// OVERWRITE VALUE
a {
    text-decoration: none;
    color: rgb(42, 41, 41);

    &:hover {
        text-decoration: underline;
    }
}
p {
    margin: 0px;
}
ion-icon {
    font-size: 25px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
form{
    text-align: center;
    margin: auto;
}
.userid_Field{
    margin: 1rem;
}
.formDiv input{
    margin: 0.5rem;
    border: 2px black solid;
}