.card {
    border-radius: 12px !important;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25) !important;
}

.expenses-list {
    list-style: none !important;
    padding: 0 !important;
}

.expenses-list__fallback {
    color: white !important;
    text-align: center !important;
}

.expense-item {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0.5rem !important;
    margin: 1rem 0 !important;
    background-color: #4b4b4b !important;
}

.expense-item__description {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
    align-items: flex-end !important;
    flex-flow: column-reverse !important;
    justify-content: flex-start !important;
    flex: 1 !important;
}

.expense-item h2 {
    color: #3a3a3a !important;
    font-size: 1rem !important;
    flex: 1 !important;
    margin: 0 1rem !important;
    color: white !important;
}

.expense-item__price {
    font-size: 1rem !important;
    font-weight: bold !important;
    color: white !important;
    background-color: #40005d !important;
    border: 1px solid white !important;
    padding: 0.5rem !important;
    border-radius: 12px !important;
}

.add_header_bt {
    margin-right: 1rem;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: transparent;
    display: block !important;
    text-align: center;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

.closebt:hover, .closebt:active{
    cursor: pointer;
}

.linkform{
    background-color: white;
    display: inline-block;
}
@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 580px) {
    .expense-item__description {
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-start !important;
        flex: 1 !important;
    }

    .expense-item__description h2 {
        font-size: 1.25rem !important;
    }

    .expense-item__price {
        font-size: 1.25rem !important;
        padding: 0.5rem 1.5rem !important;
    }
}